body {
    padding 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #130f40;
    justify-content: center;
}

.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container span {
    display: block;
}

.text1 {
    font-size: 50px;
    color: #fff;
    font-weight: 800;
    letter-spacing: 4px;
    position: relative;
    margin-bottom: 20px;
    animation: text 1.5s 1;
}

.text2 {
    font-size: 25px;
    color: #ffbe76;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: -20px
}

@keyframes text {
    0% {
        color: #ffbe76;
        margin-bottom: -20px
    }
    25% {
        margin-top: -40px
    }
    50% {
        letter-spacing: 12px;
    }
    80% {
        letter-spacing: 4px;
    }
    100% {
        margin-bottom: 20px;
    }
}

.sm a {
    display: inline-block;
    font-size: 40px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #6ab04c;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;
}

.sm a::before,
.sm a::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}

.sm a:hover {
    transform: scale(.8);
}

.sm a:hover::before {
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
}

.sm a:hover::after {
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
}

footer {
    text-align: center;
    position: relative;
}